<!DOCTYPE html>
<html>
{% load static %}
<head>

<head>
  <title>Story</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
		<script src="{% static 'js/new.js' %}"></script>
  <style>
  </style>
</head>

<body class="bg-grey">
        <div class="container-fluid bg-white section-container rounded" id="bukutamu">
            <div>
                <div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">E-Mail</label>
                            <input name="email" class="form-control" type="email" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name="password" class="form-control" type="password" id="password" required>
                        </div>
                        <div class="form-group">
                            <label for="passwordver">Password (Verification)</label>
                            <input name="passwordver" class="form-control" type="password" id="passwordver" required>
                        </div>
                        <div class="form-group">
                            <label for="nama">Nama</label>
                            <input name="name" class="form-control" type="name" id="nama" required>
                        </div>
                        <div class="form-group">
                            <label for="tanggallahir">Tanggal Lahir</label>
                              <input name="birthdate" class="form-control" type="date" id="tanggallahir" required>
                        </div>
                        <button id="submit-register" type="submit" class="btn btn-primary disabled" disabled>Submit</button>
                        <button class="btn btn-primary" type="button" id="validate-button">Validate</button>
                    
                    </form>
                </div>
            </div>
        </div>
        
        <div class="container-fluid section-container rounded ">
                <h1> </h1>
                <div id="message-container" class="container-fluid"></div>
        </div>
        
    
        <div class="container-fluid bg-white section-container rounded" id="about">
        <div class="center">
            <h1>User</h1>
        </div>
            <div>				
                <div>
                    <button style="display: none;" id="show-table" class="btn btn-primary">Tampilkan</button>
                    <div class="container-fluid" id="user-table">
                    </div>
                </div>
            </div>
        </div>
    
        
    </body>
    <script type="text/javascript">
        // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>

</html>