<!DOCTYPE html>
<html>
{% load static %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{%static "styles/css/style.css"%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <p align="center">
        <a class="btn btn-info" href="/story8" target="_blank" rel="nofollow">Story8</a> 
        <a class="btn btn-info" href="/story10" target="_blank" rel="nofollow">Story10</a>
        <a class="btn btn-danger" href="/story9" target="_blank" rel="nofollow">Story9</a>
      </p>
</body>

</html>