<!DOCTYPE html>
<html lang="en">
        {% load static %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/style2.css"%}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'js/book.js' %}"></script>

  <style>
           .fa {
	transition: 0.5s;
        }

        .fa:hover {
	        font-size:30px;
        }

        .checked {
	        color:orange;
        }
  </style>
</head>

<body class="bg-grey">
        <div class="container">
                <h2>Liblary</h2>
                <p>Click to view the books</p>
                <div class="btn-group btn-group-justified">
                  <a class="btn btn-primary" id="show-book">Show books</a>
                </div>
                <p>Jumlah Buku Favorit : <span id="counter">0</span></p>
        </div>
        
        <div class="container-fluid bg-white section-container rounded">
                <div class="row" id="table-container">
                </div>
        </div>

</body>